@import "tailwindcss";

/* Custom Fonts */
@font-face {
  font-family: 'Satoshi';
  src: url('https://cdn.prod.website-files.com/67041c2a6a806901e0c7ed1b/67055c2d430f5cb4e46d419e_Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('https://cdn.prod.website-files.com/67041c2a6a806901e0c7ed1b/67055c365927d3184aa576f9_Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica Condensed';
  src: url('https://cdn.prod.website-files.com/67041c2a6a806901e0c7ed1b/67055b377bf93d91d276ad13_coolvetica%20condensed%20rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* CSS Variables */
:root {
  --black: #080808;
  --white: white;
  --green: #ceff65;
  --dark-grey: darkgrey;
  --light-grey: #d8d8d8;
  --hero-video-radius: 3.125rem;
  --fitness-intro-shadow-y: -.6em;
  --bottom-cta-radius: 3.125rem;
  --player-radius: 3.5rem;
}

/* Base Styles */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: var(--black);
  font-family: Satoshi, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  letter-spacing: -.02em;
  font-size: 11.25rem;
  line-height: .9;
}

h2 {
  font-size: 4rem;
  line-height: 1.04;
}

h3 {
  letter-spacing: .02em;
  font-size: 2.25rem;
  line-height: 1;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.04;
}

h5 {
  font-size: 1.375rem;
  line-height: 1.8;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.3;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: var(--black);
  cursor: pointer;
  text-decoration: underline;
  transition: color .2s, background-color .45s cubic-bezier(.215, .61, .355, 1), opacity .4s cubic-bezier(.215, .61, .355, 1);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.5rem;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
}

strong {
  font-weight: 600;
}

/* Layout */
.page-wrapper {
  overflow: clip;
}

.container-large {
  width: 90%;
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* Sections */
.section {
  z-index: 2;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  position: relative;
}

.section.is-video {
  margin-top: 6rem;
  padding-top: 5vh;
  padding-bottom: 0;
}

.section.is-location {
  color: var(--white);
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
}

.section.is-footer {
  border-top: 1px solid var(--light-grey);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section.is-bottom-cta {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
}

/* Backgrounds */
.background-color-black {
  background-color: var(--black);
  color: var(--white);
}

.background-color-white {
  background-color: var(--white);
  color: var(--black);
}

/* Text Styles */
.text-size-large { font-size: 1.25rem; }
.text-size-medium { font-size: 1.125rem; }
.text-size-regular { font-size: 1rem; }
.text-size-small { font-size: .88rem; }

.text-size-eyebrow {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 1;
}

.text-weight-medium { font-weight: 500; }
.text-color-darkgrey { color: var(--dark-grey); }
.text-color-lightgrey { color: var(--light-grey); }

.text-style-link {
  color: var(--green);
  text-decoration: underline;
}
.text-style-link:hover { text-decoration: none; }

.text-rich-text { font-size: 1.125rem; }
.text-rich-text p { margin-bottom: 1rem; }

/* Heading Styles */
.heading-style-h1 {
  letter-spacing: -.02em;
  text-transform: uppercase;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-size: 11.25rem;
  font-weight: 400;
  line-height: .9;
  position: relative;
}

.heading-style-h2 {
  text-transform: uppercase;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.04;
}

.heading-style-h2.is-title {
  font-size: 4rem;
}

.heading-style-h3 {
  letter-spacing: .02em;
  text-transform: uppercase;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
}

.heading-style-h4 {
  letter-spacing: .02em;
  text-transform: uppercase;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.04;
}

.heading-style-h5 {
  letter-spacing: .02em;
  text-transform: uppercase;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.4;
}

/* Buttons */
.button {
  gap: .25rem;
  background-color: var(--green);
  color: var(--black);
  text-transform: uppercase;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: background-color .45s cubic-bezier(.215, .61, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.button:hover {
  background-color: #b3e940;
}

.button.is-secondary {
  border: 1px solid var(--dark-grey);
  color: var(--black);
  background-color: transparent;
}

.button.is-secondary:hover {
  background-color: #f3f3f3;
}

/* Max Widths */
.max-width-700 {
  z-index: 2;
  flex-flow: column;
  max-width: 43.75rem;
  position: relative;
}

.max-width-440 {
  width: 100%;
  max-width: 27.5rem;
}

.max-width-440.is-full-responsive {
  max-width: 27.5rem;
}

.max-width-250 {
  max-width: 15.63rem;
}

.max-width-full {
  width: 100%;
}

/* Margins */
.margin-bottom-8 { margin-bottom: .5rem; }
.margin-bottom-16 { margin-bottom: 1rem; }
.margin-bottom-20 { margin-bottom: 1.25rem; }
.margin-bottom-24 { margin-bottom: 1.5rem; }
.margin-bottom-40 { margin-bottom: 2.5rem; }
.margin-bottom-48 { margin-bottom: 3rem; }
.margin-bottom-64 { margin-bottom: 4rem; }
.margin-top-8 { margin-top: .5rem; }
.margin-top-32 { margin-top: 2rem; }

/* Flex Utilities */
.flex-center {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.wrap_flex {
  gap: 2rem;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.wrap_flex.is-align-top {
  align-items: flex-start;
}

.wrap_flex.is-align-bottom {
  justify-content: space-between;
  align-items: flex-end;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

/* Z-Index */
.z-index-2 {
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* Icons */
.icon-16 {
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  width: 1rem;
  display: flex;
}

.icon-24 {
  z-index: 2;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  display: flex;
  position: relative;
  transition: transform 0.3s ease;
}

/* Image Cover */
.img-cover {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

/* Hide */
.hide { display: none; }

/* Opacity */
.opacity-60 { opacity: .6; }

/* Shadow */
.shadow-card {
  box-shadow: 0 100px 80px #00000012, 0 64px 46px #0000000f, 0 40px 25px #0000000d, 0 20px 13px #0000000a, 0 8px 7px #00000008, 0 2px 3px #00000005;
}

/* Navigation */
.nav_wrapper {
  z-index: 99;
  border-bottom: 1px solid var(--light-grey);
  background-color: var(--white);
  position: fixed;
  inset: 0% 0% auto;
}

.navbar {
  background-color: transparent;
  height: 6rem;
}

.nav_wrap {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 72.875rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}

.nav_link {
  color: var(--black);
  letter-spacing: .04em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: .1rem .5rem;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
  position: relative;
}

.nav_brand {
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 10.5625rem;
  padding-left: 0;
  display: flex;
  position: absolute;
  text-decoration: none;
}

.nav_menu-items {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav_menu-items-inner {
  gap: 15rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: grid;
}

.nav_logo {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.nav_menu-link-wrap {
  gap: 3rem;
  justify-content: flex-end;
  align-items: center;
  width: 20rem;
  display: flex;
}

.nav_menu-link-wrap.is-left {
  justify-content: flex-start;
  align-items: center;
}

.link_line {
  background-color: var(--green);
  transform-origin: 0%;
  width: 100%;
  height: .25rem;
  padding: 0;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav_link:hover .link_line,
.nav_brand:hover .link_line {
  transform: scaleX(1);
}

.nav_button {
  display: none;
  z-index: 100;
  cursor: pointer;
  padding: 1rem;
}

.nav_button-inner {
  gap: .3rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav_button-line {
  background-color: var(--black);
  border-radius: 2rem;
  width: 1.6rem;
  height: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav_button.is-open .nav_button-line.is-top {
  transform: rotate(45deg) translateY(4px);
}

.nav_button.is-open .nav_button-line.is-middle {
  opacity: 0;
}

.nav_button.is-open .nav_button-line.is-bottom {
  transform: rotate(-45deg) translateY(-4px);
}

/* Video Section */
.video_wall {
  height: 300vh;
  margin-top: -34vh;
  margin-bottom: -100vh;
  position: relative;
}

.video_section {
  height: 100vh;
  position: sticky;
  top: 0;
}

.video_wrap {
  gap: 2rem;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.video_box {
  z-index: 1;
  border-radius: var(--hero-video-radius);
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.video_bg {
  z-index: 1;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.video_bg video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.video_bg_overlay {
  z-index: 2;
  background-image: linear-gradient(0deg, #00000040, transparent);
  position: absolute;
  inset: 0%;
}

.video_btn {
  z-index: 2;
  gap: 1rem;
  color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.video_play {
  z-index: 2;
  aspect-ratio: 1;
  background-color: var(--green);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 3.13rem;
  display: flex;
  position: relative;
}

.video_title {
  z-index: 2;
  color: var(--white);
  position: absolute;
  bottom: 5%;
}

.is-word {
  transform-origin: 0 100%;
  display: inline-block;
}

/* Form Styles */
.email-form_wrap {
  flex: 1;
  max-width: 31.875rem;
  margin-bottom: 0;
}

.email_form {
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.form-field-wrapper {
  gap: .5rem;
  flex-flow: column;
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
}

.form-input {
  color: var(--black);
  background-color: transparent;
  border: 1px solid #0808084d;
  border-radius: 2.5rem;
  height: auto;
  min-height: 3.5rem;
  margin-bottom: 0;
  padding: .5rem 1.25rem;
  font-size: 1rem;
  line-height: 1.6;
  transition: border-color .4s cubic-bezier(.215, .61, .355, 1), background-color .4s cubic-bezier(.25, .46, .45, .94);
  width: 100%;
}

.form-input:hover {
  border-color: var(--black);
}

.form-input:focus {
  border-color: var(--black);
  background-color: #a9a9a91a;
  outline: none;
}

.form-input::placeholder {
  color: #08080880;
}

.form-input.is-green {
  border-color: var(--green);
  color: var(--white);
}

.form-input.is-green:hover {
  border-color: var(--white);
}

.form-input.is-green:focus {
  border-color: var(--green);
  background-color: #ffffff1a;
}

.form-input.is-green::placeholder {
  color: #ffffffb3;
}

.form-success {
  background-color: var(--green);
  color: var(--black);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  display: none;
}

.form-error {
  background-color: #ff656569;
  border-radius: .5rem;
  margin-top: 1rem;
  padding: .5rem .75rem;
  display: none;
}

/* Player/Coach Section */
.player_list {
  gap: 6rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
}

.player_item {
  flex: 1;
}

.player_visual {
  aspect-ratio: 1;
  border-radius: 3.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* Locations Section */
.parallax-wrap {
  z-index: 1;
  background-color: var(--black);
  flex-flow: column;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  inset: 0%;
}

.parallax-img {
  opacity: .7;
  object-fit: cover;
  flex: none;
  width: 100%;
  height: 120%;
  position: relative;
}

.parallax-overlay {
  z-index: 2;
  background-image: linear-gradient(90deg, #000000b3, transparent);
  position: absolute;
  inset: 0%;
}

.locations_wrap {
  z-index: 2;
  gap: 4.75rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.locations_list {
  gap: 1.5rem 2rem;
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
}

.locations_item {
  flex: none;
}

.locations_visual {
  aspect-ratio: 330 / 180;
  border-radius: 1.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* FAQs Section */
.faqs_wrap {
  gap: 4.75rem;
  display: flex;
}

.faqs_list {
  flex: 1;
  padding-left: 0;
  list-style-type: none;
}

.faqs_item {
  cursor: pointer;
  border-bottom: 1px solid #ceff6533;
  padding-bottom: .75rem;
  transition: color .45s cubic-bezier(.215, .61, .355, 1);
}

.faqs_item:hover {
  color: var(--green);
}

.faqs_head {
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-top: .75rem;
  display: flex;
}

.faqs_body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.faqs_item.is-open .faqs_body {
  max-height: 200px;
}

.faqs_item.is-open .icon-24 {
  transform: rotate(180deg);
}

/* Bottom CTA */
.bottom-cta_wrap {
  gap: 2rem;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.bottom-cta_box {
  z-index: 1;
  border-radius: var(--bottom-cta-radius);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.13rem;
  margin-top: -6.4rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

/* Footer */
.footer_links {
  gap: 3rem;
  margin-bottom: 0;
  margin-right: -.5rem;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.footer_link-item {
  display: block;
}

.footer_link {
  color: var(--black);
  letter-spacing: .04em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding: .1rem .5rem;
  font-family: 'Coolvetica Condensed', sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
  position: relative;
}

.footer_link:hover .link_line {
  transform: scaleX(1);
}

.footer_copyright {
  border-top: 1px solid var(--dark-grey);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  display: flex;
}

.footer_copyright-inner {
  gap: 1rem;
  display: flex;
}

.footer_bottom-links-container {
  gap: 1rem;
  display: flex;
}

.footer_bottom-links-container a {
  text-decoration: none;
}

.social-links {
  gap: .75rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.social-links_item {
  display: flex;
}

.social-link {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  text-decoration: none;
}

.link-box {
  z-index: 1;
  background-color: var(--light-grey);
  opacity: 0;
  border-radius: .25rem;
  width: 115%;
  height: 115%;
  position: absolute;
  transition: opacity 0.3s ease;
}

.social-link:hover .link-box {
  opacity: 1;
}

/* Responsive Styles */
@media screen and (max-width: 991px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section.is-video {
    margin-top: 4.5rem;
    padding-top: 2.5rem;
  }

  .section.is-bottom-cta {
    padding-top: 6.25rem;
  }

  .heading-style-h1, h1 {
    font-size: 7rem;
  }

  .navbar {
    height: 4.5rem;
  }

  .nav_wrap {
    justify-content: space-between;
    padding: .5rem 1rem;
  }

  .nav_brand {
    width: 12rem;
    position: relative;
  }

  .nav_menu-items {
    background-color: var(--white);
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    padding-top: 2rem;
    position: fixed;
    top: 4.5rem;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .nav_menu-items.is-open {
    transform: translateX(0);
  }

  .nav_menu-items-inner {
    gap: 1.5rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }

  .nav_menu-link-wrap {
    gap: 1.5rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
  }

  .nav_link {
    justify-content: flex-start;
    width: 100%;
    font-size: 10vw;
  }

  .nav_button {
    display: block;
    margin-right: -1rem;
  }

  .video_wrap {
    transform: scale(.9);
  }

  .email-form_wrap {
    flex: 0 auto;
    width: 100%;
    max-width: none;
  }

  .player_list {
    gap: 2rem;
  }

  .player_visual {
    border-radius: 1.5rem;
  }

  .locations_wrap {
    gap: 5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .locations_list {
    width: 100%;
  }

  .faqs_wrap {
    gap: 5rem;
    flex-flow: column;
  }

  .footer_copyright {
    gap: 2rem;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .margin-bottom-48 { margin-bottom: 2.75rem; }
  .margin-bottom-64 { margin-bottom: 3.5rem; }
}

@media screen and (max-width: 767px) {
  .heading-style-h1, h1 {
    font-size: 7rem;
  }

  .max-width-440.is-full-responsive {
    max-width: 100%;
  }

  .player_list {
    gap: 3.2rem;
    flex-flow: column;
    display: flex;
  }

  .locations_list {
    width: 100vw;
    margin-left: -5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    overflow: auto;
  }

  .locations_item {
    flex: none;
    width: 90%;
  }

  .footer_links {
    gap: 1rem;
    flex-flow: wrap;
    margin-left: -.5rem;
  }

  .video_title {
    left: 1rem;
    right: 1rem;
  }

  .bottom-cta_box {
    margin-top: -4rem;
  }

  .footer_copyright-inner {
    flex-flow: column;
  }

  .nav_menu-items-inner {
    padding-left: 1rem;
  }

  .video_wall {
    margin-top: -15vh;
  }
}

@media screen and (max-width: 479px) {
  .heading-style-h1, h1 {
    font-size: 5rem;
  }

  .heading-style-h2.is-title {
    font-size: 10vw;
  }

  .section, .section.is-location, .section.is-footer, .section.is-bottom-cta {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .wrap_flex {
    gap: 1.5rem;
  }

  .email_form {
    flex-flow: column;
    align-items: stretch;
  }

  .locations_wrap, .faqs_wrap {
    gap: 4rem;
  }

  .nav_link {
    font-size: 12vw;
  }

  .nav_menu-items {
    padding-top: 1rem;
  }

  .nav_menu-items-inner {
    gap: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav_menu-link-wrap {
    gap: 1rem;
  }

  .nav_button {
    margin-right: -.75rem;
  }

  .video_wall {
    margin-top: -10vh;
  }

  .bottom-cta_box {
    height: 30rem;
    margin-top: -4.5rem;
  }
}
